# Assignment: Playing with Functions

This problem set aims to serve as a stepping stone from basic Python to intermediate Python.

## Problem 1
## Factorial (1 point)

The **factorial** of a number is the product of that number and all the numbers below it. For example, 5 factorial (denoted 5! in math) is 5 * 4 * 3 * 2 * 1, which is 120.  

**Write a function called `problem_1` that takes one positional argument `number`. The function should return  the factorial of `number` as an integer.**

Example input/output:  
`problem_1(5)` => `120`  
`problem_1(10)` => `3628800`

In [87]:
def problem_1(number):
    factorial = 1
    while (number > 1):
        factorial = factorial * number
        number -= 1
    return factorial

In [88]:
problem_1(5)

120

In [89]:
problem_1(10)

3628800

## Problem 2
## Guessing Game (2 points) 

Recall that we use `input()` to ask for user input.  

**Write a function called `problem_2` that takes one positional argument `passphrase`. The function should ask the user to enter the passphrase with `input()`. If the user enters the correct passphrase, the function should return the integer `1`. If the user enters the wrong passphrase, the function should keep asking them for the passphrase. If the user gets the passphrase wrong 3 times, the function should return the integer `0`.**  

Example input/output:  

Function input:  
`problem_2("chums")`  
Simulated user input:  
`joben`  
`chums`  
Output:  
`1`  

Function input:  
`problem_2("annika")`  
Simulated user input:  
`joe`  
`earl`  
`niks`  
Output:  
`0`

In [1]:
def problem_2(passphrase):
    for i in range (1,4):
        user_input = input()
        if user_input == passphrase:
            return 1
    return 0

In [2]:
problem_2("chums")

 joben
 chums

1

In [3]:
problem_2("annika")

 joe
 earl
 niks

0

## Problem 3
## Temperature Converter (3 points)

A common beginner's exercise is to write a function that can convert a temperature value from one format, such as Fahrenheit, to another, such as Celsius.  

In this problem, extend this idea to convert temperatures freely to and from any of the following formats: Celsius, Fahrenheit, and Kelvin.  

**Write a function called `problem_3` that takes three positional arguments: (float) `temp`, (string) `original_format`, (string) `new_format`. The function should convert `temp`, which is represented in `original_format`, to its equivalent value in the `new_format.`**  

Example input/output:  
`problem_3(0.0, "Celsius", "Fahrenheit")` => `32.0`  
`problem_3(500.0, "Kelvin", "Fahrenheit")` => `440.33`  
`problem_3(273.0, "Kelvin", "Celsius")` => `0.0`  

For your convenience:  
1. The accuracy of your float outputs will only be evaluated to within 2 decimal places. (In other words: don't worry too much about getting the calculation *exactly* right.)

In [37]:
def problem_3(temp, original_format, new_format):
    
    if original_format == "Celsius" and new_format == "Fahrenheit":
        new_temp = (9 * temp)/5 + 32
        return new_temp
    
    elif original_format == "Celsius" and new_format == "Kelvin":
        new_temp = temp + 273.15
        return new_temp
    
    elif original_format == "Fahrenheit" and new_format == "Celsius":
        new_temp = (5/9) * (temp - 32)
        return new_temp
    
    elif original_format == "Fahrenheit" and new_format == "Kelvin":
        new_temp = ((5/9) * (temp - 32)) + 273.15
        return new_temp
    
    elif original_format == "Kelvin" and new_format == "Celsius":
        new_temp = temp - 273.15
        return new_temp
    
    elif original_format == "Kelvin" and new_format == "Fahrenheit":
        new_temp = ((9/5) * (temp - 273.15)) + 32
        return new_temp

In [7]:
problem_3(0.0, "Celsius", "Fahrenheit")

32.0

In [8]:
problem_3(500.0, "Kelvin", "Fahrenheit")

440.33000000000004

In [40]:
problem_3(273.0, "Kelvin", "Celsius")

-0.14999999999997726

## Problem 4
## Exact Change (4 points)

Part of a cashier's job is to give exact change to customers. It can be difficult to mentally tally how many coins of each type (i.e., 1 peso, 25 centavos, 10 centavos, etc.) to give to a customer.  

**Write a function called `problem_4` that takes 1 positional argument `amount` in centavos. The function should return a string that describes the appropriate amounts of each type of coin to give to the customer. The string should be formatted as follows:**  

`"1P:{num}/25C:{num}/10C:{num}/5C:{num}/1C:{num}"`  

**Use the fewest number of total coins possible.**  

Example input/output:  
`problem_4(105)` => `"1P:1/25C:0/10C:0/5C:1/1C:0"`  
`problem_4(69)` => `"1P:0/25C:2/10C:1/5C:1/1C:4"`

In [27]:
def problem_4(amount):

    pesos_one = int(amount/100)
    centavos_25 = int((amount%100)/25)
    centavos_10 = int((amount-(pesos_one*100)-(centavos_25*25))/10)
    centavos_5 = int((amount-(pesos_one*100)-(centavos_25*25)-(centavos_10*10))/5)
    centavos_1 = amount-(pesos_one*100)-(centavos_25*25)-(centavos_10*10)-(centavos_5*5)
    return(f"1P:{pesos_one}/25C:{centavos_25}/10C:{centavos_10}/5C:{centavos_5}/1C:{centavos_1}")

In [28]:
problem_4(105)

'1P:1/25C:0/10C:0/5C:1/1C:0'

In [29]:
problem_4(71)

'1P:0/25C:2/10C:2/5C:0/1C:1'

## Invert Capitalization (3 points)  

**Write a function called `problem_5` that takes 1 positional argument (string) `message`. The function should return a string whose uppercase letters are now lowercase and whose lowercase letters are now uppercase. Spaces should be left alone.**  

Example input/output:  
`problem_5("Test Me")` => `"tEST mE"`  
`problem_5("asSiGnmENt")` => `"ASsIgNMenT"`  

For your convenience:  
1. The message will only ever consist of spaces, lowercase letters, and uppercase letters.  

Hint: Research on `ord()` and `chr()`.

In [174]:
def problem_5(message):
    new_message = ""
    
    for i in message:

        if 65 <= ord(i) <= 90:
            new_char = chr(ord(i)+32)
            new_message = new_message + new_char

        elif 97 <= ord(i) <= 122:
            new_char = chr(ord(i)-32)
            new_message = new_message + new_char
            
        else:
            new_char = i
            new_message = new_message + new_char
    
    return new_message

In [175]:
problem_5("Test Me")

'tEST mE'

In [176]:
problem_5("asSiGnmENt")

'ASsIgNMenT'